@media (max-width: 1570px){
  .header__menu{
    margin-right: 230px;
  }
}
@media (max-width: 1250px){
  .header__btn{
    display: block;
    cursor: pointer;
    margin-right: 50px;
    margin-top: 40px;
  }
  .header__menu > ul{
    display: none;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #FFF9EB;
  }
}