@media (max-width: 1500px){
  .studio__circles-items{
    margin: 0px 150px;
  }
}
@media (max-width: 1250px){
  .header__btn{
    display: block;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 40px;
  }
  .header__menu > ul{
    display: none;
    position: absolute;
    z-index: 2;
    top: 68px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #FFF9EB;
    text-align: center;
  }
  .menu__list a{
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
  }
  .menu__list li{
    display: block;
  }
  .menu__list li + li{
    margin-left: 0;
  }
  .drop-down__list{
    width: 100%;
    top: 165px;
  }
  .drop-down__list > a{
    padding-top: 2px;
  }
  .header__drop-down.drop-down:hover .drop-down__list {
    display: none;
  }
  .drop-down__list{
    overflow: visible;
    height: auto;
    opacity: 1;
    position: absolute;
    display: none;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    background: #f8f8f8;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
    border-top: 5px solid #FFE5AF;
    border-bottom: 5px solid #FFE5AF;
  }
  .description__iner-item{
    margin-right: 15px;
  }
}
@media (max-width: 1050px){
  .description__inner{
    flex-wrap: wrap;
    margin-top: -140px;
  }
}
@media (max-width: 910px){
  .studio__circles-items{
    margin: 0px;
  }
  .studio__circles-title{
    margin-bottom: 65px;
  }
  .button__link{
    font-size: 28px;
    padding: 28px 52px;
    margin-bottom: 80px;
  }
  .slider__title{
    text-align: center;
  }
  .description__iner-item{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 780px){
  .description__inner{
    margin-top: -250px;
    padding-bottom: 50px;
  }
}
@media (max-width: 565px){
  .studio__circles-title{
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0;
  }
  .studio__title{
    font-size: 38px;
  }
  .studio__circles-title li{
    width: 100%;
    margin-bottom: 90px;
  }
  .studio__circles-title--3{
    max-width: 100%;
  }
  .studio__circles-title--4{
    max-width: 100%;
  }
  .studio__circles-title--1::before{
    content: '';
    background-image: url(../images/circles.svg);
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -65px;
    margin-left: 19px;
  }
  .studio__circles-title--2::before{
    content: '';
    background-image: url(../images/circles.svg);
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -65px;
    margin-left: 55px;
  }
  .studio__circles-title--3::before{
    content: '';
    background-image: url(../images/circles.svg);
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -65px;
    margin-left: 90px;
  }
  .studio__circles-title--4::before{
    content: '';
    background-image: url(../images/circles.svg);
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -65px;
    margin-left: 84px;
  }
  .button__link{
    font-size: 23px;
    padding: 18px 15px;
  }
  .slider__nav-item--img{
    max-width: 130px;
  }
  .description__inner{
    margin-top: -400px;
  }
}
@media (max-width: 420px){
  .header__btn{
    margin-right: 0px;
  }
  .slider__nav-item--img{
    max-width: 90px;
  }
}